<h1>Inventories</h1>

<% if @inventories.any? %>
<ul class="inventory-list">
    <% @inventories.each do |inventory| %>
        <li>
            <div class="left">
                <p><%= link_to inventory.name, inventory, class: "inventory-link" %></p><br>
                <%= link_to "Remove", inventory_path(inventory), class: "remove-btn", method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this inventory?" } %>
            </div>
            <div class="right">
              <p><%= inventory.description %></p>
            </div>
         </li>
    <% end %>
    <%= link_to "Create a new inventory", new_inventory_path, class: "btn-create btn-inventory" %>
</ul>
<% else %>
  <p class="new-inventory">You don't have any inventorys yet. <%= link_to "Create a new inventory", new_inventory_path, class: "btn-create" %></p>
<% end %>
