<p style="color: green"><%= notice %></p>

<%= @inventory.name%>
<br/>
<br/>
<br/>

<%= link_to "Add food", new_inventory_inventory_food_path(@inventory) %>
<%= link_to "Back to Inventories", inventories_path %>

<%= render '/shared/inventory_foods_list' %>
