
<div class="recipe-div-i" id="<%= dom_id recipe %>">
 
<div class="recipe-index"> 
 <h4>
    <strong>Name:</strong>
    <%= recipe.name %>
  </h4>
  <div> 
   <%= button_to "Delete this recipe", recipe, method: :delete, class: "btn btn-outline-danger"  %>
  </div>
</div>
<div class="recipe-index" >
  <h4 class="descr">
    <strong>Description:</strong>
    <span class="span-text"><%= recipe.description %></span>
  </h4>
  <div>
  <div class="btn btn-outline-primary custom-btn">
  <%= link_to "View this recipe", recipe %>
</div>
</div>
</div>
</div>