<div class="form-container">
  <h1>Add a new food</h1>
  <%= form_with model: @food, url: foods_path, method: :post, local: true, scope: :food do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, required: true %>
    </div>

    <div class="field">
      <%= f.label :measurement_unit %>
      <%= f.select :measurement_unit, options_for_select(['kg', 'grams','units','litres']), required: true %>
    </div>

    <div class="field">
      <%= f.label :price %>
      <%= f.text_field :price, type: "number", step: "0.001", required: true %>
    </div>

    <div class="actions"><%= f.submit "Create food" %></div>
  <% end %>
</div>
