<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

<body>
    <header>
      <% if user_signed_in? %>
        <ul>
          <li class="dropdown">
            <%= link_to 'Foods', foods_path %>
          </li>
          <li class="dropdown">
            <%= link_to 'Recipes', recipes_path%>
          </li>
          <li class="dropdown">
            <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete } %>
          </li>
        </ul>
      <% else %>
        <div class="sign-up">
          <%= link_to 'Login', new_user_session_path %>
          <%= link_to 'Sign-up', new_user_registration_path %>
        </div>
      <% end %>
    </header>
    <main>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <%= yield %>
    </main>
  </body>
</html>
