<!DOCTYPE html>
<html>
  <head>
    <title>Recipe App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
 
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" />
 
  </head>

  <body>
    <header>

      <div class="nav-btns">
        <% if user_signed_in? %>
        <ul>
          <li class="pop-up">
            <a class="nav-btn">Menu </a>
            <div class="pop-up-content">
              <div class="filler-div"><div>
              <%= link_to 'Home', inventories_path, class: "nav-links"%>
              <%= link_to 'Foods', foods_path , class: " nav-links" %>
              <%= link_to 'Recipes', recipes_path, class: "nav-links"%>
            </div>
          </li>
        </ul>
        <% end %>
        <div class="auth_btns">
          <% if user_signed_in? %>
            <div class="text-end">
              <%= link_to 'Logout', destroy_user_session_path, class: "nav-btn", data: { turbo_method: :delete } %>
            </div>
          <% else %>
            <div class="sign-up">
              <%= link_to 'Login', new_user_session_path, class: "nav-btn" %>
              <%= link_to 'Sign-up', new_user_registration_path, class: "nav-btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <main>
      <% if notice.present? %>
  <div class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

      <%= yield %>
    </main>
  </body>
</html>
